<div class="col-12 col-lg-4">
    <div class="col-12">
        <div class="aside-card card">
            <div class="card-body">
                <h5 class="card-title">Vendeur</h5>
                <h6 class="card-subtitle mb-2 text-muted">contact</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-outline-secondary">Envoyer un message</button>
                <button type="button" class="btn btn-outline-primary">Acheter en ligne</button>
            </div>
        </div>
    </div>
</div>
