{{> nav}}
<div class="container">
    <div class="home-header">
        <h2 class="home-header-title">Le Bon Gland</h2>
        <div class="home-header-buttons">
            <a href="/cities/paris?page=1" class="home-city-link btn btn-outline-secondary">Paris</a>
            <a href="/cities/marseille?page=1" class="home-city-link btn btn-outline-secondary">Marseille</a>
        </div>
    </div>
    <p class="home-header-text">
        Le Bon Gland est le site référent de petites annonces de particulier à particulier et professionnels en France. Découvrez nos annonces voitures d’occasion, motos, immobilier, emploi, location de vacances, vêtements, électroménager, jouets, déco, meubles, etc... Déposez une annonce gratuite en toute simplicité pour vendre, donner vos biens ou promouvoir vos services. Avec des milliers de nouvelles annonces mises en ligne chaque jour vous trouverez l’objet d’occasion ou neuf que vous désirez.
    </p> 
</div>
{{> footer}}
