{{> nav}}
<div class="container">
    <div class="row">
        <div class="col-12 profile-main">
            <h5 class="profile-title">Bienvenue {{user.username}}</h5>
            <img class="profile-logo" src="/img/logo/profile.png" alt="">
        </div>
    </div>
</div>

{{> footer}}
