{{> nav}}
<div class="container">
    <div class="row">
        <div class="profile-main">
            <h5 class="display-2">Bienvenue {{user.username}}</h5>

        </div>
    </div>
</div>

{{> footer}}