{{> nav}}
<div class="container">
    <div class="row">
        <div class="col-12 success-main">
            <h5 class="success-title">Offre ajoutée avec succès !!</h5>
            <img class="success-logo" src="/img/logo/success.png" alt="">
        </div>
    </div>
</div>
{{> footer}}